<nav class="navbar navbar-light bg-primary">
    <a href="/" class="navbar-brand">
        <img src="/img/guia.png" alt="Logo" id="Logomarcar">
    </a>
    <a href="/perguntar" class="btn btn-primary mx-4">Perguntar</a>
</nav>